<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a routerLink="/">Logo</a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/shop">Shop</a>
          </li>
          <li>
            <a>Register</a>
          </li>
        </ul>
      </nav>
    </div>
  </section>